
# Binaries
bin/
main
*.exe

# Environment variables
.env
.env.local
.env.*.local

# Node (local tooling)
node_modules/
npm-debug.log*
/package.json
/package-lock.json

# Go test/build artifacts
coverage.out
coverage.html
